.videa-video-container{
    padding:1em;
}
.videa-video-box{
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    background-color: var(--clr-videa-secondary);
    box-shadow: var(--shadow-videa-medium);
}

.video-thumbnail-box{
    min-height: 180px;
    max-height: 180px;
    width: 100%;
    position: relative;
}

.video-thumbnail{
    width: 100%;
    max-height: 180px;
}

.video-hover-popup{
    width: 100%;
    min-height: 180px;
    max-height: 180px;
    position: absolute;
}
.video-hover-popup:hover{
    background-color: #000;
    opacity: 0.40;
    cursor: pointer;
}

.video-hover-popup .video-hover-popup-image{
    display: none;
}

.video-hover-popup:hover .video-hover-popup-image{
    display: inline-block;
}

.video-title{
    font-size: 0.9rem;
}

.video-title:hover{
    color: var(--clr-videa-dark);
}

.video-likes-views-box{
    font-size: 0.8rem;
}

.video-views{
    padding-inline: 1em;
}
.video-length{
    position: absolute;
    background-color: #000;
    opacity: 0.90;
    color: var(--clr-videa-bg);
    font-size: 0.7rem;
    bottom: 0;
    right: 0;
}